body{
    font-family: 'Ubuntu', sans-serif;
}
                           /* Title-section */
#title{
    background-color: #ff4c68;
    /* padding: 3% 15%; */
}
.container-fluid{
    padding: 3% 15% 20%;
    }
    /* navbar */
.navbar{
    padding:0 0 4.5rem ;
}
ul li{
    margin: 15px;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
}
/*  */

.big-heading{
    line-height: 1;
    font-family: 'Montserrat-black';
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}
button{
    margin: 88px 15px;
    font-family: 'Ubuntu', sans-serif;
}
#dog-mobile{
    height:600px;
    /* margin-left: 70px;
    margin-top: 20px; */
    position: absolute;
    right: 25%;
    transform: rotate(25deg);
}
@media(max-width:1000px){
    #dog-mobile{
         position: static;
         transform: rotate(0deg); 
        }
        .big-heading{
            text-align: center;
        }
    }

#tindog{
    font-size: 3rem; /*navbar href tindog*/
     margin-left: px;
}

/* Features */
#features{
    padding: 8% 5%;
    background-color: rgb(255, 255, 255);
    position:relative;
}
.r{
    /* border: 2px solid black; */
    margin: 10px;
    padding: 5px;
}
.col-lg-4{
    text-align: center;
}
.fa-circle-check,.fa-bullseye,.fa-heart{
     font-size: 4rem;
    color: #ef8172;
     margin-bottom: 2rem;
}
.fa-circle-check:hover,.fa-bullseye:hover,.fa-heart:hover{
    color: #ff4c68;
}

.p1{
    padding: 0 20%;
    color: gray;
}

#testimonials{
/* margin: 7% 15%; */
/* padding: 7% 15%; */
text-align: center;
background-color: #ef8172;
color: white;
}
h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
}
#testimonial-img
{
    width: 25%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.logo-img{
    width: 15%;
    padding: 20px 20px;
}
#pricing{
    padding: 5%;
    /* background-color: #72ef72; */
    text-align: center;
}
.pricing-column{
padding: 3%;
/* background-color: coral; */
}


/* footer */
#cta{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 3% 16%;
}
h3{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 6%;
}
#footer{
/* border:  2px solid red; */
text-align: center;
margin: 10% 5%;
font-size: 1rem;
}
.fa-twitter, .fa-facebook-f,.fa-instagram,.fa-envelope{ 
    margin: 4px;
    
}

